[ctrl]
enlargeValue = 0.7			 #check地图点扩大的倍数（1.2)
handleDeadlock = True	     #死锁后是否自动恢复，默认为True
agvcfg = agv.cfg
deadlockPathCount = 30		 #死锁重算路径的个数，越大越慢
pathDiff = 20				 #备选路径的差（10米)
waitStopTime = 30

checkEndRotate = True		#最后结点是否都计算旋转（True)
apiTimeoutSec = 86400		#超时秒数

[charge] 

startCharge = False			#默认是否开启充电

charge_policy = 1				#充电逻辑 0: 低电量和固定时间充电 ，1：仅低电量自动充电，2: 仅固定时间充电 

#start_charge_level  =  0.4	 	#去充电的门限（0.2) 
#finish_charge_level = 0.7	 	#充电到这个门限，小车可以被调(0.8)
#full_charge_level   =   0.9		#充满电的门限 (0.95)

# 充电门限和说明如下：
# level < start_charge_level: 开始充电
# start_charge_level <  level < finish_charge_level： 正在充电
# finish_charge_level < level < full_charge_level:    还未充满，但可以被调度 
# full_charge_level < level 	#充电结束，回home点 


fix_time = ""	#定时充电的时间值对列表，格式为 00:00:00-00:10:00 ,00:00:00-00:10:00

[rotation]
default_angle = 90		#默认工位货架角度 
auto_rotaion = True 	#是否到主路自动旋转 




